@import '~bootstrap/scss/bootstrap';
$white: #fff;

.auth-forms {
  display: flex;
  position: absolute;
  text-align: center;
  width: 100%;

  #sign-up-form {
    display: none;
    margin: 0 auto;
  }

  #sign-in-form {
    display: none;
    margin: 0 auto;
  }

  #change-password-form {
    display: none;
    margin: 0 auto;
  }
}

#change-password-btn {
  display: none;
  margin: 0 auto;
}

#sign-out-btn {
  display: none;
  margin: 0 auto;
}

#page {
  height: 80vh;
}

#navbar {
  height: 10vh;
}

.navbar {
  color: $white;
}

#user-message {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-top: 30px;
}

#content-message {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  margin: 10px;
}

input[type='text'] {
  // width: 30%;
}
input[type='date'] {
  // width: 30%;
}

textarea {
  // width: 30%;
  height: 200px;
}

// #page {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.journal-entries {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 10px;

  .create-entry-form {
    display: none;
    margin: 0 auto;
  }

  #clear-entries-btn {
    margin: 10px auto;
  }

  .get-entries-form {
    display: none;
    margin: 10px auto;
  }
}

.content {
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  & > * {
    border: 5px solid black;
    padding: 10px 0;
    margin: 10px 25%;
  }

}
