@import '~bootstrap/scss/bootstrap';
$white: #fff;

body {
  background-image: url('./public/bananas.png');
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
}

.auth-forms {
  display: flex;
  position: absolute;
  text-align: center;
  width: 100%;

  #sign-up-form {
    display: none;
    margin: 0 auto;
  }

  #sign-in-form {
    display: none;
    margin: 0 auto;
  }

  #change-password-form {
    display: none;
    margin: 5px;
  }
}

#change-password-btn {
  display: none;
  margin: 0 auto;
}

#sign-out-btn {
  display: none;
  margin: 0 auto;
}

#page {
  height: 80vh;
}

#navbar {
  height: 10vh;
}

.navbar {
  color: $white;
  font-size: 20px;

  .navbar-brand {
    font-size: 25px;
  }
}

.btn {
  font-size: 20px;
}

.form-control {
  font-size: 25px;
}

#user-message {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-top: 30px;
}

#content-message {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  margin: 10px;
}

input[type='text'] {
  // width: 30%;
}
input[type='date'] {
  // width: 30%;
}

textarea {
  width: 100%;
  height: 200px;
}

// #page {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.journal-entries {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  margin: 10px;

  .create-entry-form {
    display: none;
    margin: 0 auto;
  }

  #clear-entries-btn {
    margin: 10px auto;
  }

  .get-entries-form {
    display: none;
    margin: 10px auto;
  }
}

.form-group {
  align-items: center;
}

p {
  word-wrap: break-word;
}

.col-4 {
  border: 2px solid black;
}

.entry-button {
  width: 100%;
}

.entry-item {
  width: 300px;
  height: 600px;
}

.entry-description {
  height: 200px;
  max-height: 200px;
  overflow: auto;
}

.entry-title {
  overflow-x: auto;
  max-height: 28px;
}
